*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{

background:linear-gradient(135deg,#00b4db,#0083b0);

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.hero{

display:flex;

justify-content:center;

align-items:center;

width:100%;

}

.glass{

background:rgba(255,255,255,.2);

backdrop-filter:blur(15px);

padding:50px;

border-radius:20px;

text-align:center;

color:white;

box-shadow:0 8px 32px rgba(0,0,0,.2);

width:420px;

}

.card{

background:white;

padding:40px;

width:450px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.3);

}

.water{

font-size:70px;

margin-bottom:20px;

}

.inputBox{

margin-top:15px;

}

label{

display:block;

font-weight:bold;

margin-bottom:6px;

}

input{

width:100%;

padding:12px;

border-radius:10px;

border:1px solid #ddd;

}

button{

margin-top:25px;

width:100%;

padding:15px;

border:none;

border-radius:10px;

background:#0083b0;

color:white;

font-size:18px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.05);

background:#005f73;

}

.safe{

background:#09a42d;

padding:40px;

border-radius:20px;

text-align:center;

width:500px;

}

.danger{

background:#7d0610;

padding:40px;

border-radius:20px;

text-align:center;

width:500px;

}